.canvasWrapper {
    position: fixed !important;
    top: 0;
    left: 0;

    width: 100vw !important;
    height: 100vh !important;

    opacity: 0.08;

    canvas {
        width: 100% !important;
        height: 100% !important;
    }
}